.header {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.site-logo {
    display: block;
    margin: 0 auto;
    height: 82px;
}

.favorites {
    display: block;
    margin: 0;
    padding: 0;
    color: $perple;
    font-size: 1.4rem;
    position: absolute;
    transform: translateX(-50%);
    top: 130px;
}

.favorites__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.favorites__link::before {
    content: '\2605';
    margin-right: .5rem;
    line-height: 18px;
}

@media(max-width:1199px) {
    .favorites {
        left: 50%;
    }
}

//===================<<MEDIA 1200>>=========================
@media(min-width:1200px) {
    .header {
        padding-bottom: 48px;
    }
    .favorites {
        display: inline-block;
        top: 30px;
        right: -26px;
        font-size: 16px;
    }
}