.form {
  width: 320px;
  padding: 0 10px;

  display: block;

}

.form__input {
  width: 300px;
  height: 33px;
  padding: 0 10px;
  border-radius: 15px;
  border: 2px solid $border-color;
  outline: none;

  display: block;
  margin: 70px auto 40px;
}

.form__btn {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 16px;
  height: 28px;
  width: 120px;
  font-family: Comfortaa, Roboto, sans-serif;
  line-height: 1.5;
  background-color: $yellow;
  color: $color-font-white;
  outline: none;
  background-color: $yellow;
  cursor: pointer;
}

.grid__load-more {
  display: none;

  &.visible {
    color: $color-font-white;
    outline: none;
    background-color: $yellow;
    border-radius: 1.2em;
    height: 2.2em;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
  }
}

//===================<<MEDIA 768>>=========================

@media(min-width: 768px) and (max-width: 1199px) {
  .form {
    width: 760px;
    margin: 0;
  }
}

//===================<<MEDIA 1200>>=========================
@media(min-width: 1200px) {

  picture {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .form {
    height: 30px;
    width: 750px;
    margin-left: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .form__input {
    width: 560px;

  }

  .form__btn {
    width: 80px;
    height: 31px;
    font-size: 14px;
    margin-top: 31px;
    margin-right: 40px;
    ;


  }

  .grid__load-more {
    margin-top: 100px;
  }


}

/*.main{
  margin-top: 50px;
  picture{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }
  .form{
    display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
		
    &__input{
      width: 350px;
      margin-right: .875rem;
      padding: 0.5em 1.5em;
      border-radius: 0.812rem;
      border: 2px solid $border-color;
      outline: none;
		}
		
    &__btn{
      border-radius: 0.812rem;
      font-size: 14px;
      height: 1.625rem;
      font-family: Comfortaa, Roboto, sans-serif;
      line-height: 1.5;
      background-color: $yellow;
      color: $color-font-white;
			outline: none;

			&:hover{
				cursor: pointer
			};
    }
  }
  .grid__load-more {
		display: none;
		
    &.visible {
      color: $color-font-white;
      outline: none;
      background-color: $yellow;
      border-radius: 1.2em;
      height: 2.2em;
      margin: 0 auto;
      display: block;
      text-transform: uppercase;
		}
		
		&:hover{
			cursor: pointer
		};
  }
}
*/